body{
    margin: 25px;
}

p{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.name{
    font-size: 24px;
    font-weight: bold;

}

.title{
    font-size: 20px;
    font-weight: bold;
}

.message-text,.date,.all-inbox{
    font-size: 20px;
    font-weight: 600;
    color: gray;
}

.date{
    font-size: 18px;
}

.inbox{
    display: flex;
    flex-direction: column; 
    padding: 20px;
    padding-top: 10px; 
    row-gap: 15px;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(241, 241, 241);
}

.image-box{
    align-items: center; display:flex;
}
.image{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 5px;
 }

.message-info{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.message{
    display: flex;
    flex-direction:row;
    border: 1px;
    border:none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: rgb(248, 248, 248);
}

.message:hover{
    opacity: 0.85;
    border-radius: 20px;
}

.message:active{
    opacity: 0.65;
    border-radius: 25px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
}

.info-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

